<div id="wrapall">
<header id="header" class="home">
    <nav class="navbar navbar-default attop" role="navigation"><div>
    <div class="textrow" style="position: absolute; width: 100%;">
        <div class="container">
            <div class="absright">
                <span class="hidden-xs">Choose language </span>
                <select onchange="window.location.href=this.value">
                    <option value="http://www.monkeyjars.nl">Nederlands</option>
                    <option value="http://www.monkeyjars.com">English</option>
                    <option value="http://www.monkeyjars.de">Deutsch</option>
                    <option value="http://www.monkeyjars.fr" selected>Francais</option>
                </select>
            </div>
        </div>
    </div>
        <div class="container">


<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
      <img src="/img/logowhite.svg" onclick="window.location.href='/';">
      <ul class="nav navmenu-nav">
              <li><a href="/#presentation">Présentation</a></li>
              <li><a href="/#soins">Soins</a></li>
              <li><a href="/#informations">Informations</a></li>
              <li><a href="/ventes">Ventes</a></li>
              <li><a href="/#contact">Contact</a></li>
          
      </ul>
</div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand text-center visible-xs" href="/#top" style="float: none; text-align: center;">
              <img src="/img/logo.svg" style="display: inline; opacity: 0.80;" />
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="visible-lg"><a href="#top">Accueil</a></li>
              <li><a href="#presentation">Présentation</a></li>
              <li><a href="#soins">Soins</a></li>
              <li><a href="#top"><img src="/img/logo.svg" style="opacity: 0.80;" /></a></li>
              <li><a href="#informations">Info<span class="visible-lg">rmations</span></a></li>
              <li><a href="/ventes">Ventes</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
        </div>
      </nav>
</header>